<main data-view-id="0">
    <div class="header">
    <div class="header__content">
      <div class="header__heading">
        <p class="header__subtitle">INICIO</p>
        <h1 class="header__title">PAGINA DE INICIO</h1>
      </div>
      
      <div class="header__actions">
        <%= render 'shared/sidebar_button' %>
      </div>
    </div>
  </div>
</main>
