<main data-view-id="0">
    <div class="d-flex justify-content-between align-items-center gap-2 mt-4">
        <h1>PAGINA DE INICIO</h1>
        <%= render "shared/sidebar_button" %>
    </div>
</main>
