@use 'variables' as v;
@use 'mixins' as m;

.filters {
    @include m.section-bg;

    &__toggle {
        font-size: 25px;
        color: v.$grey;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        @include m.section-title;
    }

    &__content {
        margin-top: 5px;
    }
}