@use 'variables' as v;
@use 'mixins' as m;

.form {
    &__field {
        width: 100%;
    }

    &__label {
        font-size: v.$fs-sm;
        font-weight: 500;
        color: v.$dark2;
        margin-bottom: 5px;

        &--primary {
            color: v.$primary;
        }
    }

    &__input {
        font-size: v.$fs-xs;
        
        display: block;
        width: 100%;

        background-color: v.$light2;
        border: 0.3px solid v.$dark3;
        
        border-radius: v.$border-radius-sm;
        -webkit-border-radius: v.$border-radius-sm;
        -moz-border-radius: v.$border-radius-sm;
        -ms-border-radius: v.$border-radius-sm;
        -o-border-radius: v.$border-radius-sm;

        padding: 7px 10px;

        &::placeholder {
            color: v.$grey;
        }

        @include m.desktop-lg {
            font-size: v.$fs-sm;
        }
    }

    &__flex {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &--row {
            @include m.tablet {
                flex-direction: row;
                gap: 10px;
                align-items: center;                
            }
        }

        &--minute {
            @include m.desktop {
                flex-direction: row-reverse;
                align-items: baseline;
            }

            @include m.desktop-md {
                flex-direction: column;
            }

            @include m.desktop-lg {
                flex-direction: row-reverse;
                align-items: baseline;
            }
        }
    }

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include m.tablet {
            @include m.grid(2, 10px);
        }

        @include m.desktop {
            @include m.grid(4, 7px);
        }        

        @include m.desktop-md {
            @include m.grid(3, 7px);
        }

        @include m.desktop-lg {
            @include m.grid(4, 7px);
        }

        &--3 {
            @include m.desktop {
                @include m.grid(3, 7px);
            }
        }

        &--5 {
            @include m.desktop {
                @include m.grid(6, 7px);
            } 
        }
    }

    &__action {
        margin-top: 15px;
        @include m.tablet {
            text-align: end;
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @include m.tablet {
            flex-direction: row;
            align-items: center;
        }

        &--minutes {
            flex-direction: column;

            @include m.desktop-md {
                flex-direction: row;
                align-items: center;
            }

            @include m.desktop-lg {
                flex-direction: column;
            }

            &-1 {
                display: none;

                @include m.desktop {
                    display: flex;
                }

                @include m.desktop-md {
                    display: none;
                }

                @include m.desktop-lg {
                    display: flex;
                }
            }

            &-2 {
                @include m.desktop {
                    display: none;
                }

                @include m.desktop-md {
                    display: flex;
                }

                @include m.desktop-lg {
                    display: none;
                }
            }
        }
    }

    &__table {
        border: 1px solid v.$dark3;
        border-radius: v.$border-radius-sm;
        -webkit-border-radius: v.$border-radius-sm;
        -moz-border-radius: v.$border-radius-sm;
        -ms-border-radius: v.$border-radius-sm;
        -o-border-radius: v.$border-radius-sm;

        &-head {
            background-color: v.$light2;
            border-bottom: 1px solid v.$dark3;
            
            & label {
                padding: 5px 0 5px 10px;
                margin-bottom: 0;

                &:last-child {
                    padding-left: 0;
                }

                &:first-child {
                    width: 55%;

                    @include m.mobile {
                        width: 50%;
                    }

                    @include m.desktop-md {
                        width: 45%;
                    }
                }
            }
        }

        &-data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            border-bottom: 1px solid v.$dark3;

            &:last-of-type {
                border: none;
            }

            & input:nth-child(2) {
                width: 350%;

                @include m.mobile {
                    width: 130%;
                }

                @include m.desktop {
                    width: 115%;
                }

                @include m.desktop-lg {
                    width: 100%;
                }
            }
        }
    }
}