@use 'variables' as v;
@use 'mixins' as m;

//HTML STRUCTURE
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    height: 100vh;
    background-color: v.$light2;
    font-family: v.$font-family;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 16px;
    overflow-x: hidden;

    @media (min-height: 520px) {
        background-size: cover;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: underline;
    color: v.$light2;

    &:hover {
        color: v.$primary;
        cursor: pointer;
    }
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}

input:not([type="button"]):not([type="submit"]),
textarea {
  color: v.$dark2;
}

textarea {
    resize: none;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: v.$fs-lg;
}

h2, h3 {
    font-size: v.$fs-md;
}

/* SCROLLER */
::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: v.$primary;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    -moz-transition: .1s ease-in;
    -ms-transition: .1s ease-in;
    -o-transition: .1s ease-in;
}