@use 'variables' as v;
@use 'mixins' as m;

.main {
    &__center {
        display: flex;
        justify-content: center;

        @include m.desktop-lg {
          margin-left: -5%; 
          
          &--minutes {
            margin: 0;
          }
        }
    }

    &__width {
        width: 100%;

        @include m.desktop-lg {
            width: 80%;
        }

        @include m.desktop-xl {
            width: 50%;
        }

        &--minutes {
            @include m.tablet {
                width: 80%;
            }

            @include m.desktop {
                width: 90%;
            }

            @include m.desktop-lg {
                width: 100%;
            }

            @include m.desktop-xl {
                width: 90%;
            }

            @include m.desktop-xxl {
                width: 80%;
            }
        }
    }
}