@use 'variables' as v;

/* MIXINS */

// MEDIA QUERIES
@mixin mobile {
    @media (min-width: v.$mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktop-md {
    @media (min-width: v.$desktop-md) {
        @content;
    }
}

@mixin desktop-lg {
    @media (min-width: v.$desktop-lg) {
        @content;
    }
}

@mixin desktop-xl {
    @media (min-width: v.$desktop-xl) {
        @content;
    }
}

@mixin desktop-xxl {
    @media (min-width: v.$desktop-xxl) {
        @content;
    }
}

// GRID
@mixin grid($columns, $spacing) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    column-gap: $spacing;
    row-gap: 10px;
}

//BUTTONS
@mixin button($bg-color, $txt-color) {
    width: 100%;
    display: block;

    text-align: center;
    font-weight: 500;
    padding: 10px 15px;
    font-size: v.$fs-sm;
    
    color: $txt-color;
    text-decoration: none;
    background-color: $bg-color;

    border: none;
    border-radius: v.$border-radius-sm;
    -webkit-border-radius: v.$border-radius-sm;
    -moz-border-radius: v.$border-radius-sm;
    -ms-border-radius: v.$border-radius-sm;
    -o-border-radius: v.$border-radius-sm;
    
    transition: v.$hover-transition-1;
    -webkit-transition: v.$hover-transition-1;
    -moz-transition: v.$hover-transition-1;
    -ms-transition: v.$hover-transition-1;
    -o-transition: v.$hover-transition-1;

    &:hover {
        cursor: pointer;
        background-color: darken($bg-color, 10);
        color: $txt-color;
    }

    @include tablet {
        width: auto;
        display: inline-block;
    }
}

@mixin button-outline($color) {
    width: 100%;
    display: block;

    text-align: center;
    font-weight: 500;
    padding: 10px 15px;
    font-size: v.$fs-sm;
    
    color: $color;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid $color;

    border-radius: v.$border-radius-sm;
    -webkit-border-radius: v.$border-radius-sm;
    -moz-border-radius: v.$border-radius-sm;
    -ms-border-radius: v.$border-radius-sm;
    -o-border-radius: v.$border-radius-sm;
    
    transition: v.$hover-transition-1;
    -webkit-transition: v.$hover-transition-1;
    -moz-transition: v.$hover-transition-1;
    -ms-transition: v.$hover-transition-1;
    -o-transition: v.$hover-transition-1;

    &:hover {
        cursor: pointer;
        background-color: $color;
        color: v.$light2;
    }

    @include tablet {
        width: auto;
        display: inline-block;
    }
}

//SECTION BACKGROUND
@mixin section-bg {
    box-shadow: v.$box-shadow-rg;
    background-color: v.$light1;
    padding: 25px 30px;
    
    border-radius: v.$border-radius-sm;
    -webkit-border-radius: v.$border-radius-sm;
    -moz-border-radius: v.$border-radius-sm;
    -ms-border-radius: v.$border-radius-sm;
    -o-border-radius: v.$border-radius-sm;
}

//SECTION TITLE
@mixin section-title {
    font-size: 17px;
    color: v.$grey;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 0;
}