/* VARIABLES */

//COLOR PALLETE
$primary: #44ABA6;

$light1: #FEFEFF;
$light2: #F9F8F8;

$dark1: #1D1D1D;
$dark2: #383844;
$dark3: #CBCACC;

$grey: #a1a1ad;

$success: #0BCE97;
$warning: #F0B757;
$danger: #F5365E;

//TYPOGRAPHY
$font-family: 'Poppins', sans-serif;

$fs-xs: 14px;
$fs-sm: 15px;
$fs-rg: 18px;
$fs-md: 20px;
$fs-lg: 25px;
$fs-xl: 35px;
$fs-xxl: 40px;

// Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 992px;
$desktop-md: 1024px;
$desktop-lg: 1200px;
$desktop-xl: 1400px;
$desktop-xxl: 1600px;

// Border radius
$border-radius-sm: 5px;
$border-radius-rg: 7px;
$border-radius-lg: 15px;

// Transitions
$hover-transition-1: background-color .2s ease;
$hover-transition-2: background-color .5s ease;

// Box shadows
$box-shadow-sm: 0 5px 5px rgba(0, 0, 0, 0.100);
$box-shadow-rg: 0px 1px 4px rgba(0, 0, 0, 0.25);
$sidebar-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.25)