<main data-view-id="10">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mt-4">LISTA DE COLABORADORES</h1>

    <div class="d-flex align-items-center gap-2">
        <%= link_to "Agregar colaborador", new_user_registration_path(:role => "collaborator"), class: "btn btn-primary" %>
        <%= render "shared/sidebar_button" %>
    </div>
  </div>
  
  <div id="collaborator_users">
    <% @collaborator_users.each do |collaborator| %>
      <%= render collaborator %>
      <p>
        <%= link_to "Ver detalles", edit_user_path(collaborator), collaborator: collaborator, class: "btn btn-outline-primary" %>
      </p>
    <% end %>
  </div>
</main>