<main data-view-id="17">
    <div class="d-flex justify-content-between align-items-center gap-2 mt-4">
        <h1>DETALLE DE <%= @user.role == "admin" ? "ADMINISTRADOR" : "COLABORADOR" %></h1>
        <%= render "shared/sidebar_button" %>
    </div>
    
    <%= render "form", user: @user %>
</main>