<main data-view-id="12">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mt-4">LISTA DE ADMINISTRADORES</h1>

    <div class="d-flex align-items-center gap-2">
        <%= link_to "Agregar administrador", new_user_registration_path(:role => "admin"), class: "btn btn-primary" %>
        <%= render "shared/sidebar_button" %>
    </div>
  </div>
  
  <div id="users">
    <% @users.each do |user| %>
      <%= render user %>
      <p>
        <%= link_to "Ver detalles", edit_user_path(user), user: user, class: "btn btn-outline-primary" %>
      </p>
    <% end %>
  </div>
</main>