<%# 
This modal is used to display a confirmation message for deleting a record. It provides a visual confirmation
to the user and ensures that the deletion action is intentional and irreversible.

The modal is identified by the ID "deleteModal" appended with the object's ID (deleteModal[object.id]). 
This allows multiple instances of the modal to be used on the same page without conflicts.

This modal ensures that users are aware of the irreversible nature of the delete operation and provides a way
to confirm or cancel the action, promoting a better user experience and preventing accidental deletions.
%>
<div class="modal fade" id="deleteModal<%=object.id%>" tabindex="1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-6" id="deleteModalLabel"><strong>Mensaje de confirmación</strong></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body gap-3" style="text-align:left;">
                <h5>Esta es una acción irreversible. ¿Está seguro(a) que desea eliminar este registro?</h5>
            </div>
            <div class="modal-footer d-flex justify-content-start">
                <%= button_to "Confirmar", object, method: :delete, class: "button-primary" %>
                <button type="button" class="button-secondary w-auto" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            </div>
        </div>
    </div>
</div>