<a class="button-secondary button-secondary--menu sidebar__menu-button" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    <%= image_tag('menu-icon.svg', alt: "icono abrir menu de navegación", class: "sidebar__menu-icon") %>
</a>