<%# View for a confirmation modal when sending minutes via email %>
<%# The modal displays a confirmation message and options to send or cancel %>
<%# The modal has an ID of "confirmEmailModal" for identification %>
<%# The title of the modal is "Confirmation Message" %>
<%# The modal body displays a question about sending the minutes via email %>
<%# A reminder is shown to save any changes before sending the minutes %>
<%# If the minute is not a new record, a "Send Minutes" link is displayed as a primary button %>
<%# A "Cancel" button is displayed as a secondary button to close the modal %>
<div class="modal fade" id="confirmEmailModal" tabindex="1" aria-labelledby="confirmEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-6" id="confirmEmailModalLabel"><strong>Mensaje de confirmación</strong></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Esta minuta será enviada por correo electrónico a todos los asistentes seleccionados. ¿Está seguro(a) que desea realizar esta acción?</h5>
                <em class="fs-xs text-muted mt-5">Recuerde guardar cualquier cambio antes de enviar la minuta. De lo contrario, pueda que la información se envie de forma incompleta.</em>
            </div>
            <div class="modal-footer d-flex justify-content-start">
                <% if !@minute.new_record? %>
                  <%= link_to "Enviar minuta", minutes_send_email_url, class: "button-primary w-auto" %>
                <% end %>
                <button type="button" class="button-secondary w-auto" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            </div>
        </div>
    </div>
</div>