
<div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="usersModalLabel" aria-hidden="true" data-controller="dropdown-search">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="usersModalLabel"><strong>Selecciona un(a) asistente</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-3">
                <div>
                    <label for="modalInput" class="mb-2"><strong>Lista de personas registradas:</strong></label>
                    <input type="text" name="users" id="modalInput" class="form-select search-bar" data-action="click->dropdown-search#openDropdown keyup->dropdown-search#searchInput" data-value="" placeholder="-- Selecciona una opción --">
                    
                    <select class="form-select multiple-select" multiple>
                        <% attendees.each do |a| %>
                            <option value="<%= a.id %>"><%= a.fullname %></option>
                        <% end %>
                    </select>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-start">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-action="nested-form#addUser">Agregar</button>
            </div>
        </div>
    </div>
</div>