<main data-view-id="16" class="main main__center main__center--minutes">
    <div class="main__width main__width--minutes">
        <div class="header">
            <div class="header__content">
                <div class="header__heading">
                    <p class="header__subtitle">GESTIÓN DE MINUTAS</p>
                    <h1 class="header__title">DETALLE DE MINUTA</h1>
                </div>
                
                <div class="header__actions">
                    <%= render 'shared/sidebar_button' %>
                </div>
            </div>
        </div>
        
        <%= render "form", minute: @minute %>
    </div>
</main>
