<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    h1, p {
        margin: 10px 0 20px;
    }

    a {
        color: #44ABA6;
        text-decoration: none;
    }

    .container {
        width: 100%;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.428571429;
        color: #333333;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border: 1px solid #e2e2e2;
    }

    @media (min-width: 768px) {
        .container {
            width: 80%;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 60%;
        }
    }

    .header {
        display: flex;
        justify-content: start;
        align-items: center;
        background-color: #44ABA6;
        border-radius: 10px 10px 0 0;
        padding: 40px 30px 30px;
    }

    .title h1,
    .title p {
        margin: 0;
        color: #ffffff;
    }

    .title h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: -12px;
    }

    .title span {
        color: #383844;
    }

    .title p {
        font-size: 15px;
        font-weight: 500;
    }

    .body {
        padding: 10px 30px 5px;
    }

    .footer {
        border-top: 1px solid #e2e2e2;
        padding: 5px 30px 0px;
        font-style: italic;
        color: #818181;
        font-size: 14px;
        font-weight: 500;
    }
  </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <h1>NEXUS<span>TUDIO</span></h1>
                <p>ARQUITECTURA & CONSTRUCCIÓN</p>
            </div>
        </div>

        <div class="body">
            <h1>Restablecimiento de contraseña</h1>
            <p>Estimad<%= @user.gender == "male" ? "o" : "a" %>, <%= @user.fullname %></p>
            
            <p>Se solicitó el link para restablecer el acceso a nuestro sistema, puedes cambiar tu contraseña en el siguiente link: <%= link_to 'cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

            <p>Si no solicitaste este cambio, por favor ignora este correo. Tu contraseña no cambiará hasta que accedas al link anterior y crees una nueva.</p>

            <p>Por favor, tenga en cuenta que este correo es generado automáticamente y no requiere respuesta. Si tiene alguna pregunta o comentario sobre este correo, por favor comuníquese con nuestro equipo.</p>
            
            <p>Saludos cordiales, <em>Equipo Nexus</em>.</p>
        </div>

        <div class="footer">
            <p>Pagina <a href="www.nxscr.com">nxscr.com</a> • Teléfono <a href="tel:24500342">2450 0342</a> • Correo <a href="mailto:admin@nxscr.com">admin@nxscr.com</a></p>
        </div>
    </div>
</body>
</html>