<%# Edit Activities View %>
<%# Use the data-view-id attribute to identify the view and select the corresponding option on the sidebars %>
<%# The SCSS styles for this view can be found in the app/assets/stylesheets/custom folder. The specific stylesheets for this view are named: _main and _header %>

<main data-view-id="15" class="main main__center">
    <div class="main__width">
        <div class="header">
            <div class="header__content">
                <div class="header__heading">
                    <p class="header__subtitle">GESTIÓN DE ACTIVIDADES</p>
                    <h1 class="header__title">DETALLE DE ACTIVIDAD</h1>
                </div>
                
                <div class="header__actions">
                    <%= render 'shared/sidebar_button' %>
                </div>
            </div>
        </div>
        
        <%# Renders activity form partial %>
        <%= render "form", activity: @activity %>
    </div>
</main>