<section class="filters" data-controller="filters">
    <div class="filters__header">
        <a class="filters__toggle" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" data-action="click->filters#toggle">
            <h4 class="filters__title">
                <%= image_tag("filter-icon.svg", alt: "icono seccion filtros", class: "sidebar__icon") %>FILTROS
            </h4>
            <span id="toggle"><i class="bi bi-caret-down-fill"></i></span>
        </a>
    </div>

    <div class="filters__content collapse" id="collapseExample">
        <div class="card card-body border-0 p-0 pt-3">

            <%# CAMBIAR POR FILTROS DE RAILS %>
            <form action="#" class="form">
                <div class="form__grid">
                    <div class="form__field">
                        <label for="project_name" class="form__label">Nombre del proyecto</label>
                        <input type="text" name="project_name" id="project_name" class="form__input" placeholder="Nombre del proyecto">
                    </div>

                    <div class="form__field">
                        <label for="user" class="form__label">Encargado de proyecto</label>
                        <select name="user" id="user" class="form__input form-select">
                            <option value="#" selected disabled>Seleccione un encargado</option>
                        </select>
                    </div>
                        
                    <div class="form__field">
                        <label for="stage" class="form__label">Etapa del proyecto</label>
                        <select name="stage" id="stage" class="form__input form-select">
                            <option value="#" selected disabled>Seleccione una etapa</option>
                        </select>
                    </div>
                        
                    <div class="form__field">
                        <label for="status" class="form__label">Estado</label>
                        <select name="status" id="status" class="form__input form-select">
                            <option value="#" selected disabled>Seleccione un estado</option>
                        </select>
                    </div>
                </div>

                <div class="form__action">
                    <a href="#" class="button-search">
                        <i class="bi bi-search me-2"></i>
                        Buscar
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>