<main data-view-id="15">
    <div class="d-flex justify-content-between align-items-center gap-2 mt-4">
        <h1>DETALLE DE PROYECTO</h1>
        <%= render "shared/sidebar_button" %>
    </div>
    
    <%= render "form", phase: @phase %>
</main>