<!-- <p style="color: green"><%= notice %></p> -->

<h1>LISTA DE FASES</h1>

<div id="phases">
  <% @phases.each do |phase| %>
    <%= render phase %>
    <p>
      <%= link_to "Ver detalles", phase, class: "btn btn-outline-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "Agregar fase", new_phase_path, class: "btn btn-primary" %>
